<span class="app--productive-heading-04">Web app informations</span><br />
<span class="app--type-mono-scale_4">Name: {{web_app.name}}</span><br />
<span class="app--type-mono-scale_4">Version: {{web_app.version}}</span><br />
<span class="app--type-mono-scale_4">Nodejs: {{web_app.node_js}}</span>
