<span class="app--productive-heading-01">Web app informations</span><br />
<span class="app--type-mono-scale_2">Name: {{web_app.name}}</span><br />
<span class="app--type-mono-scale_2">Version: {{web_app.version}}</span><br />
<span class="app--type-mono-scale_2">Nodejs: {{web_app.node_js}}</span>
